/*.img{
    float:left;
    border: solid 1px black;
    padding:10px
}
p{
    display:inline;
}
a{
    display:block;
}*/
.first{
    display:flex;
    background-color: azure;
    border: solid 0.5px;
    width: auto;
    margin-left:auto;
    margin-right:auto;
    flex-direction:column;

}
.first > div{
    background-color: white;
    width:100px;
    margin:10px;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,sans-serif;
    border:solid 1px black;
    border-radius:30px;
}
div:hover{
    background-color: aqua;
}